
@{
    ViewBag.Title = "Contactus";
}

<div id="wrapper" class="home-page">

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Contact Us</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-logo">
                        <h3>Reach<span class="color"> Bharath public school</span></h3>
                        <p>Shree Drushteshwara Extension, Chelur, Gubbi Taluk, Tumakuru District</p>
                        <p><b>Landline:</b> 08131242070</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-logo">
                        <h3><span class="color"> Nataraj M.S</span></h3>
                        <p>Founder Secretary</p>
                        <p><b>Mobile:</b> 9902797539</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-logo">
                        <h3><span class="color"> Rajgopal K</span></h3>
                        <p>Principal</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15521.931933622573!2d76.9084245!3d13.4442981!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x314c6565c2e1db77!2sBharath+Public+School!5e0!3m2!1sen!2sin!4v1538822906071" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </section>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#home").removeClass("active");
        $("#aboutUs").removeClass("active");
        $("#curriculum").removeClass("active");
        $("#gallery").removeClass("active");
        $("#contact").addClass("active");
        $("#facilities").removeClass("active");
    })
</script>

