
@{
    ViewBag.Title = "Curriculum";
}

<div id="wrapper" class="home-page">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Curriculum</h2>
                </div>
            </div>
        </div>
    </section>
    <div style="background-color:rgb(39, 39, 39);color:white">
        <marquee><h3 style="color:white">Admissions from LKG to 7th Standard</h3></marquee>
    </div>
    <br />
    <section class="section-padding">
        <div class="container">
            <div class="row showcase-section">

                <div class="col-md-12">
                    <div class="about-text">
                        <h3>Our <span class="color">Unique Teaching Method</span></h3>
                        <p>The classes from LKG to Standard 7 follow a carefully structured curriculum that is constructed by the Karnataka state government and is constantly renewed and revitalised.In Our Method of teaching, child is groomed in a natural way , this system helps child to nourish his abilities of observation, creativity and imagination..</p>
                    </div>
                </div>
            </div>
        </div>
    </section><br />

    <div class="container">

        <div class="about">


            <div class="row">
                <div class="row service-v1 margin-bottom-40">
                    <div class="col-md-6 md-margin-bottom-40">
                        <div class="card small">
                            <div class="card-image">
                                <span class="card-title">Child Development </span>
                            </div>
                            <div class="card-content">
                                <p>Child development refers to how a child is able to do more complex things as they get older. Development is different than growth. Growth only refers to the child getting bigger in size, whereas development is overall growth of the child. Here, the growth is not restricted to size but intellect as well. When we talk about normal development, we are talking about developing skills like:</p>
                                <ol>
                                    <li><b>Gross motor:</b> Using large groups of muscles to sit, stand, walk, run, etc., keeping balance and changing positions.</li>
                                    <li><b>Fine motor:</b> Using hands to be able to eat, draw, dress, play, write and do many other things.</li>
                                    <li><b>Language:</b> Speaking, using body language and gestures, communicating and understanding what others say.</li>
                                    <li><b>Cognitive: </b>Thinking skills: including learning, understanding, problem-solving, reasoning and remembering.</li>
                                    <li><b>Social:</b> Interacting with others, having relationships with family, friends and teachers, cooperating and responding to the feelings of others.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 md-margin-bottom-40">
                        <div class="card small">
                            <div class="card-image">
                                <span class="card-title">Learning support </span>
                            </div>
                            <div class="card-content">
                                <p>Our ceaseless work towards inculcating excellence is complemented by the belief that each child’s needs and abilities are different. Bharath Public school has thus designed interventions for students who need support and remedial care. .</p>
                                <p>Our Learning Lab incorporates an enhancement programme designed for children with special educational needs (SEN) i.e. children with learning difficulties as well as accelerated / gifted learners.</p>
                                <p>Based on observations and formal and informal assessments, an Individualized Education Plan (IEP) is drawn up by special educators for each child, keeping in mind his/ her strengths and developmental needs; thus the pull out schedule for each student is need-based, as we hope to mainstream children in a progressive and comprehensive manner.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#home").removeClass("active");
        $("#aboutUs").removeClass("active");
        $("#curriculum").addClass("active");
        $("#gallery").removeClass("active");
        $("#contact").removeClass("active");
        $("#facilities").removeClass("active");
    })
</script>